@function isBold($bold) {
    @if $bold {
        @return bold;
    }
    @else {
        @return normal;
    }
}

$bold: true;
.Verse {
    font-family: 'Lucida Console', 'Courier', monospace;
    font-weight: isBold($bold);

    .Chord {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .Lyric {
        padding-top: 0;
        margin-top: 0;
    }
}